# Backend API base URL (no trailing slash)
VITE_API_URL=https://api.shptechnology.online/api

# Google Analytics / Ads measurement ID
VITE_GA_ID=G-NGNQ155J9K

# App environment
VITE_APP_ENV=production
